@charset "UTF-8";
body {
	margin: 0;
}

#machineframe{
	margin-left: auto;
	margin-right: auto;
	border: solid 1px black;
	width: 700px;
	height: 900px;
	display: flex;
	flex-wrap: wrap;
}
#panelframe{
	margin-top: 5px;
	border: solid 1px red;
	width: 180px;
	height: 400px;
}
#productframe{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 5px;
	border: solid 1px blue;
	width: 500px;
	height: 600px;
}

#extractframe{
	margin: 10px;
	border: solid 1px green;
	width: 680px;
	height: 200px;
}
#coinframe{
	margin-top: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid 1px lime;
}
.coinbtn{
	margin: 5px;
	width: 80px;
	height: 50px;
}
.prod{
	display: flex;
	justify-content: center;
	flex-flow:column;
	align-items: center;
	border: solid 1px pink;
	width: 160px;
	height: 200px;
}
.prodbtn{
	border: solid 1px pink;
	width: 150px;
	height: 50px;
}