@charset "UTF-8";
body {
	margin: 0;
}

#machineframe{
	margin-left: auto;
	margin-right: auto;
	border: solid 3px #88a6b0;
	border-radius: 2%;
	width: 700px;
	height: 900px;
	display: flex;
	flex-wrap: wrap;
	background-color: #40e0d0;
}
#panelframe{
	margin-top: 5px;
	border: solid 1px #88a6b0;
	width: 180px;
	height: 400px;
	background-color: white;
}
#productframe{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 5px;
	border: solid 1px #88a6b0;
	width: 500px;
	height: 600px;
	background-color: rgb(50,50,50);
}

#extractframe{
	margin: 10px;
	border: solid 1px #88a6b0;
	width: 680px;
	height: 200px;
	background-color: grey;
}
#coinframe{
	margin-top: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	border: solid 1px #88a6b0;
	background-color: white;
}
#coinremain{
	text-align:center;
	width: 150px;
	height: 50px;
	background-color: grey;
}
.coinbtn{
	margin: 5px;
	width: 70px;
	height: 50px;
}
.prod{
	display: flex;
	justify-content: center;
	flex-flow:column;
	align-items: center;
	border: solid 1px #88a6b0;
	border-radius: 2%;
	width: 160px;
	height: 200px;
	background-color: white;
}
.prodbtn{
	border: solid 1px #88a6b0;
	width: 150px;
	height: 50px;
}
.genreimg{
	margin : 10px;
	width: 64px;
	height: 64px;
	background-color: white;
}
#pd1{
	background-color: pink;
}
#pd2{
	background-color: #d94a80;
}
#pd3{
	background-color: #8ecae4;
}
#pd4{
	background-color: #f4fff9;
}
#pd5{
	background-color: #8ebfbc;
}
#pd6{
	background-color: #c7b26f;
}